@media (max-width: 1280px) {
  .wrap_text {
    width: 90%;
  }
  .wrap_text {
    width: 90%;
  }

  .beforeSticky {
    height: initial;
    position: initial;
  }
  .sticky {
    position: static;
  }
  .beforeSticky2 {
    height: 1600px;
    height: initial;
    position: relative;
  }
}

@media (max-width: 1024px) {
  .wrap_text {
    width: 100%;
  }
}

@media (max-width: 768px) {
  h1 {
    font-size: 40px;
    line-height: 51px;
  }
  h2 {
    font-size: 26px;
    line-height: 42px;
  }
  h3 {
    font-size: 16px;
    line-height: 20px;
  }

  h4 {
    font-size: 14px;
    line-height: 32px;
  }

  p {
    font-size: 14px;
    line-height: 30px;
  }
  .wrap_text {
    width: 100%;
  }
  .loadingEffect {
    width: 80%;

    svg {
      width: 250% !important;
      height: 250% !important ;
      margin: 0 auto;
      animation: rotateLogo 3s ease-in-out;
    }
  }
}
