.compountdHero {
  background-color: #759a3d;
  margin-top: -200px;
  // margin-top: -10vw;
  & > div {
    width: 90%;
    margin: 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: flex-end;
    img {
      margin-bottom: -120px;
      width: 80%;
    }
  }
}

.compountdsContents {
  background-color: white;
  height: 300px;
}

@media (max-width: 768px) {
  .compountdHero {
    & > div {
      flex-direction: column;
      align-items: center;
      padding: 80px 0;
      padding-top: 120px;

      img {
        margin-bottom: -120px;
        width: 100%;
      }
    }
  }
  .compountdsContents {
    height: 50px;
  }
}
