.head {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 50px 0;
  svg {
    width: 54px;
    height: 54px;
  }
  .darkToggle {
    width: 66px;
    height: 34px;
    border-radius: 30px;
    border-width: 5px;
    border-style: solid;
    display: flex;
    align-items: center;
    padding: 3px 6px;
    cursor: pointer;
    span {
      display: inline-block;
      width: 10px;
      height: 10px;
      border-radius: 20px;
    }
  }
}

.hero_contents {
  width: 95%;
  margin-right: 0;
  margin-left: auto;
  margin-top: 20%;

  .wrap_text {
    margin-bottom: 50px;
    h1 {
      margin: 0;
    }
  }
}
.case_hero_contents {
  margin-top: 10%;
}

.section1 {
  width: 90%;
  margin: 120px auto;
}
.section2 {
  position: sticky !important;
  top: 0;
  overflow-x: scroll;
  // border: 2px solid red;

  & > div {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 150%;
    & > div {
      width: 25%;
      border-top: 1px solid;
      border-bottom: 1px solid;
      border-right: 1px solid;
      padding-top: 80px;
      background-position: center;
      background-size: contain;
      height: 695px;
      p {
        margin: 130px 0;
        margin-bottom: 170px;
        font-size: 20px;
      }
      h3 {
        font-weight: 500;
      }
      div {
        width: 67%;
        margin: 0 auto;
        a {
          display: inline-block;
          border: 1px solid var(--white);
          border-radius: 30px;
          padding: 15px 20px;
          background: linear-gradient(
            0deg,
            rgba(0, 0, 0, 0.6),
            rgba(0, 0, 0, 0.6)
          );
          text-decoration: none;
          color: var(--white);
          transition: all 300ms ease-in-out;
          &:hover {
            background-color: var(--white);
            // color: var(--black);
          }
        }
      }
      &:hover {
        background-position: center;
        background-size: cover;
      }
    }
    .light_mode {
      &:hover {
        color: white;
      }
    }
  }
}
.brands {
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  width: 90%;
  margin: 0 auto;
  div {
    width: 20%;
    margin-bottom: 90px;
  }
  & > div:nth-child(4) {
  }
}
.singleImage {
  padding: 120px 0;
}

.section6 {
  padding: 80px 0;
  margin: 0 auto;
  width: 90%;
  .box_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    .box1 {
      width: 47%;
      border-right: 1px solid white;
      padding-right: 20px;
    }
    .box2 {
      width: 53%;
      overflow-x: scroll;

      .card_wrapper {
        display: flex;
        justify-content: space-between;
        width: 240%;
        .card {
          width: 22%;
          padding-left: 10px;
          & > div {
            width: 100%;
            sup {
              font-size: 16px;
            }
          }
        }
        .card:nth-child(4) {
          width: 25%;
        }
      }
    }
  }
}

.our_team {
  padding: 50px 0;
  .card_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    flex-wrap: wrap;
    .unhovered {
      position: absolute;
      top: 0;
      width: 100%;
      height: 100%;
      background-color: rgba(0, 0, 0, 0.7);
      flex-direction: column;
      justify-content: end;
      padding-left: 12%;
      display: flex;
      opacity: 0;
      transition: all 400ms ease-in-out;
      padding-bottom: 20px;
    }
    .hovered {
      opacity: 1;
      transition: all 400ms ease-in-out;
    }
    & > div {
      width: 33%;
      position: relative;
      h3 {
        font-weight: 600;
        margin: 0;
      }
    }
  }
}
.section7 {
  margin: 60px auto;
  h2 {
    width: 55%;
  }
  div {
    display: flex;
    align-items: center;
    input {
      background-color: transparent;
      border: none;
      outline: none;
      font-size: 68px;
      font-weight: 800;
      display: inline;
      width: 52%;
      padding: 0;
      margin: 0;
      border-bottom: 2px solid;
      padding-bottom: 40px;
    }
    .submit {
      width: 49px;
      height: 49px;
      margin-left: -48px;
      border-radius: 50px;
      display: flex;
      align-items: center;
      justify-content: center;
      margin-top: -30px;
      cursor: pointer;
    }
  }
  .inputLight {
    input {
      border-color: #dadada;
      color: var(--black);
      &::placeholder {
        color: #dadada;
      }
    }
    .submit {
      background-color: #fdbb06;
    }
  }
  .inputDark {
    input {
      border-color: #333333;
      color: var(--white);
    }
    &::placeholder {
      color: #333333;
    }
    .submit {
      background-color: #333333;
    }
  }
}

.footer {
  border-top: 1px solid rgba(255, 255, 255, 0.7);
}
footer {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 80px 0;
  padding-bottom: 70px;

  .darkLink {
    a {
      color: var(--white);
    }
  }
  .lightLink {
    a {
      color: var(--black);
    }
  }
  a,
  span {
    font-size: 16px;
    opacity: 0.8;
  }
  & > div:nth-child(1) {
    width: 7%;
  }
  & > div:nth-child(2) {
    width: 20%;
  }
  & > div:nth-child(3) {
    width: 30%;
    display: flex;
    justify-content: space-between;
    a {
      //   color: var(--white);
      text-decoration: none;
    }
  }

  & > div:nth-child(4) {
    width: 15%;
  }
}

@import "./MediaQueryLanding";
