.nox {
  img {
    max-width: 100%;
  }
}
.noxhero {
  text-align: right;
  width: 90%;
  margin-right: 0;
  margin-left: auto;
  font-size: 35vw;
  line-height: 65%;
  // border: 2px solid red;

  span {
    color: #111111;
    font-weight: 900;

    font-family: Poppins;
  }
}
.style {
  margin: 40px 0;
}
.text {
  width: 40%;
  margin: 50px auto;
  text-align: center;
}
.noxSection1 {
  width: 90%;
  margin: 0 auto;
  margin-top: 250px;
  .half_text {
    width: 40%;
  }
  .box1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .box2 {
    width: 40%;
    margin: 0 auto;
    text-align: center;
    p {
      margin: 120px 0;
    }
  }
}

.noxSection2 {
  width: 90%;
  margin: 0 auto;
  padding-top: 60px;

  svg {
    max-width: 100%;
  }
  .head {
    text-align: center;
    margin: 90px 0;
    svg {
      width: 120%;
      height: 130px;
    }
  }
  .head3 {
    border-bottom: 1px solid white;
    width: 80%;
    padding-bottom: 30px;
    padding-top: 90px;
    margin-bottom: 150px;
  }
  .head3Logo {
    text-align: center;
    // margin-top: 120px;
    width: 80%;
    margin: 0 auto;
    margin-bottom: -150px;
  }
  .nox3_4 {
  }
  .light_nox {
    background-color: #fdbb06;
    border-radius: 20px;
  }
  .dark_nox {
     background-color: #fff;
    // border-radius: 20px;
  }

  .img_wrapper {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-top: 50px;
    padding-bottom: 100px;

    img {
      width: 48%;
    }
  }
  .text {
    width: 40%;
    margin: 130px auto;
    text-align: center;
  }
  .approved {
    width: 50%;
    margin: 0 auto;
    display: flex;
    align-items: center;
  }
}

.noxSection3 {
  background-color: white;
  color: black;
  h3 {
    margin-bottom: 100px;
  }
  & > div {
    width: 90%;
    margin: 0 auto;
    padding: 50px 0;
    img {
      margin: 50px 0;
      border-radius: 20px;
    }
    img:nth-child(4) {
      margin-bottom: -220px;
    }
  }
}
.result {
  width: 90%;
  margin: 0 auto;
  padding-top: 270px;
  padding-bottom: 90px;
  div {
    width: 60%;
    p {
      margin-bottom: 40px;
    }
    h2 {
      margin: 0;
    }
    h3 {
      color: #fdbb06;
      margin: 0;
    }
  }
}
@media (max-width: 1024px) {
  .noxSection1 {
    margin-top: 250px;

    .half_text {
      width: 70%;
    }
    .box1 {
      display: flex;
      justify-content: space-between;
      align-items: center;

      flex-direction: column;
      & > span {
        margin-bottom: 60px;
      }
    }
    .box2 {
      width: 50%;
    }
  }
}
@media (max-width: 1280px) {
  .noxhero {
    font-size: 40vw;
    line-height: 50%;
    line-height: 85%;
  }
}

@media (max-width: 768px) {
  .nox {
  }
  .noxhero {
    text-align: center;
    width: 100%;
    font-size: 50vw;
    line-height: 70%;
    margin-top: 40px;
  }
  .noxSection1 {
    margin-top: 70px;

    .half_text {
      width: 100%;
    }
    .box1 {
      flex-direction: column;
      text-align: center;
      svg {
        width: 70%;
      }
      span {
        margin-bottom: 20px;
      }
    }
    .box2 {
      width: 100%;
      svg {
        width: 50%;
      }
      p {
        margin: 0;
      }
    }
  }
  .text {
    width: 90%;
    margin: 30px auto;
  }

  .noxSection3 {
    & > div {
      width: 90%;
      padding: 20px 0;
      img {
        margin: 20px 0;
        border-radius: 20px;
      }
      h3 {
        margin-bottom: 20px;
      }
      img:nth-child(4) {
        margin-bottom: -100px;
      }
    }
  }
  .noxSection2 {
    width: 90%;
    margin: 0 auto;
    padding-top: 50px;
    svg {
      max-width: 100%;
      width: 50% !important;
      margin: 0 auto;
    }
    .head {
      text-align: center;
      margin: 0px 0;
    }
    .head3 {
      padding-top: 30px;
      margin-bottom: 0px;
    }
    .head3Logo {
      text-align: center;
      width: 80%;
    }
    .img_wrapper {
      padding-top: 30px;
      padding-bottom: 0px;
      flex-direction: column;
      img {
        width: 100%;
        margin-bottom: 40px;
      }
    }
    .text {
      width: 100%;
      margin: 30px auto;
    }

    .approved {
      width: 100%;
      height: 200px;
      svg {
        width: 80% !important;
      }
    }
  }

  .head3Logo {
    margin-top: 0px;
    svg {
      width: 35% !important;
    }
  }

  .result {
    padding-top: 130px;
    padding-bottom: 0px;

    div {
      width: 100%;

      p {
        margin-bottom: 25px;
      }
    }
  }
}
