* {
  box-sizing: border-box;
  &::-webkit-scrollbar {
    width: 0px;
    height: 0px;
  }
}
:root {
  --black: #1E1E1E;
  --white: #ffffff;
  --primary: #fdbb06;
  --primaryHovered: #866711;
}
body {
  transition: all 900ms ease-in-out;
  background-color: #000000;
  // overflow-y: hidden;
  scroll-behavior: smooth;
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-ExtraBold.ttf");
  font-weight: 800;
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Bold.ttf");
  font-weight: 700;
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-SemiBold.ttf");
  font-weight: 600;
}
@font-face {
  font-family: Raleway;
  src: url("../assets/fonts/Raleway/Raleway-Medium.ttf");
  font-weight: 500;
}
@font-face {
  font-family: Poppins;
  src: url("../assets/fonts/Poppins/Poppins-Bold.ttf");
  font-weight: 900;
}
html,
body {
  padding: 0;
  margin: 0;
  font-family: Raleway;
  font-weight: 400;
}

.loadingEffect {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
  width: 90%;
  @keyframes rotateLogo {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  }

  svg {
    width: 300% !important;
    height: 300% !important ;
    margin: 0 auto;
    animation: rotateLogo 3s ease-in-out;
  }
}
.global_container {
  max-width: 1728px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.wrapper {
  width: 90%;
  margin-left: auto;
  margin-right: auto;
}

h1,
h2,
h3 {
  font-family: Raleway;
  font-weight: 700;
}

h1 {
  font-weight: 500;
  font-size: 77px;
  line-height: 111px;
}
h2 {
  font-weight: 500;
  font-size: 57px;
  line-height: 78px;
}
h3 {
  font-weight: 700;
  font-size: 24px;
  line-height: 24px;
}

h4 {
  font-size: 16px;
  line-height: 32px;
  font-weight: 400;
}

img {
  max-width: 100%;
}
p {
  font-size: 16px;
  line-height: 30px;
}

.primary_text {
  color: var(--primary);
}

.wrap_text {
  width: 70%;
}

.dark {
  background-color: var(--black);
  color: var(--white);
}
.light {
  background-color: var(--white);
  color: var(--black);
}

.beforeSticky {
  // height: 1500px;
  height: 1530px;

  position: relative;
}
.sticky {
  position: sticky;
  top: 0;
  height: 100vh;
}
.beforeSticky2 {
  // height: 1600px;
  height: 1720px;

  position: relative;
}
@import "./MediaQueryStyles.scss";
